aiosmtpd==1.4.6
atpublic==5.1
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
decorator==5.2.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.3
pillow==10.4.0
proglog==0.1.10
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.67.1
urllib3==2.3.0
watchdog==6.0.0
